@import url("photographer.css");

body,
h3,
h2,
p,
h1 {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 10%;
}

.logo {
    height: 50px;
    margin-left: 10%;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 20px;
    }

    .logo {
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 15px;
    }

    .logo {
        height: 20px;
    }

}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}


.photographer_section h2 {
    color: #D3573C;
    font-size: 30px;
    text-align: center;
    margin-top: 0.8rem;
}

.cards-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 445px) {}

.cards-photographer-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.photographer_cards .cards-photographer-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.photographer_cards .cards-photographer-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.photographer_cards {
    font-size: 1rem;
    flex-direction: column;
    margin: 5rem 0;
    font-weight: 400;
    width: 33%;
    text-align: center;
}

.cards-body {
    font-size: 11px;
    margin-top: 10px;
}

.cards-location {
    color: #AC5555;
}

.cards-price {
    color: #757575;
}

@media only screen and (max-width: 900px) {
    .photographer_cards {
        width: 45%;
    }

}

@media only screen and (max-width: 580px) {
    .photographer_cards {
        width: 100%;
    }

}